@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Prose';
  src: url('/font-enso-prose/Enso-Prose-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  unicode-range: U+0020, U+002D, U+002E;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}

@font-face {
  font-family: 'Enso Naming';
  src: url('/font-enso-naming/Enso-Naming-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
  unicode-range: U+0020, U+002D;
}
