@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/font-dejavu/DejaVuSansMono.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/font-dejavu/DejaVuSansMono-Bold.ttf');
  font-weight: 700;
}
