@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Enso';
  src: url('/font-enso/Enso-Black.ttf');
  font-weight: 900;
}
