# Catch All
* @radeusgd @4e6

# IDE build scripts
/run @wdanilo
/build/ @wdanilo

# Rust Libraries
/lib/rust/* @wdanilo @radeusgd @4e6
/lib/rust/ensogl/ @wdanilo

# Repo Configuration
/.github/settings.yml @4e6 @radeusgd

# GUI
/app/gui/* @mwu-tow @farmaazon
/app/gui/view/ @wdanilo @farmaazon @MichaelMauderer
