# Change log
CHANGELOG.md

# The repository settings
/.github/ @jdunkerley  @AdRiley @hubertp
/.github/CODEOWNERS @jdunkerley @jaroslavtulach @farmaazon @AdRiley @PabloBuchu @wdanilo

# Build script & utilities
/run @jdunkerley  @AdRiley @hubertp
/run.bat @jdunkerley  @AdRiley @hubertp
/build @jdunkerley  @AdRiley @hubertp

# Rust Libraries and Related Files
rust-toolchain.toml @vitvakatu @kazcw @farmaazon @AdRiley
rustfmt.toml @farmaazon @vitvakatu @kazcw @AdRiley
Cargo.lock
Cargo.toml
/lib/rust/ @farmaazon @kazcw @vitvakatu @AdRiley
/lib/rust/parser/ @farmaazon @kazcw @vitvakatu @jaroslavtulach @AdRiley
/tools/build-performance/ @kazcw @Akirathan

# Global JS configuration
esling.config.mjs
tsconfig.json

# Scala Libraries
/lib/scala/ @4e6 @jaroslavtulach @hubertp @Akirathan

# Java libraries
/lib/java/ @4e6 @jaroslavtulach @hubertp @Akirathan

# GUI/Dashboard
/app @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/gui/integration-test @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/gui/src/dashboard @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/gui/src/project-view @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/ @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/ide-desktop/client/tasks/signArchivesMacOs.ts @jdunkerley @hubertp
/app/ide-desktop/client/tests @farmaazon @vitvakatu @kazcw @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/ydoc-server/ @farmaazon @vitvakatu @kazcw @AdRiley
/app/ydoc-server-nodejs/ @farmaazon @vitvakatu @kazcw @AdRiley
/app/ydoc-server-polyglot/ @farmaazon @vitvakatu @kazcw @AdRiley
/app/ydoc-shared/ @farmaazon @vitvakatu @kazcw @AdRiley

# The data-link schema is owned by the libraries team
/app/gui/src/dashboard/data/datalinkSchema.json @jdunkerley @GregoryTravis @AdRiley
/app/gui/src/dashboard/data/__tests__ @jdunkerley @GregoryTravis @AdRiley @PabloBuchu @indiv0 @somebody1234
/app/gui/src/dashboard/data/serviceCredentials @jdunkerley @GregoryTravis @AdRiley @PabloBuchu @indiv0 @somebody1234

# Engine (old)
# This section should be removed once the engine moves to /app/engine
/build.sbt @4e6 @jaroslavtulach @hubertp @Akirathan
/distribution/ @4e6 @jdunkerley @hubertp @GregoryTravis @AdRiley
/engine/ @4e6 @jaroslavtulach @hubertp @Akirathan
/project/ @4e6 @jaroslavtulach @hubertp @Akirathan
/tools/ @4e6 @jaroslavtulach @hubertp @Akirathan

# Engine & Core Enso Libraries
/distribution/lib/Standard/Base/ @jaroslavtulach
/std-bits/base/ @jaroslavtulach

# Enso Libraries
# This section should be amended once the engine moves to /app/engine
/distribution/lib/ @jdunkerley @hubertp @GregoryTravis @AdRiley
/std-bits/ @jdunkerley @hubertp @GregoryTravis @AdRiley
/test/ @jdunkerley @hubertp @GregoryTravis @AdRiley
/tools/http-test-helper/ @hubertp @jdunkerley @GregoryTravis @AdRiley

# Licenses
/distribution/engine/
/distribution/launcher/
/distribution/project-manager/
/tools/legal-review/

# The default project template is owned by the libraries team
/lib/scala/pkg/src/main/resources/default/src/ @hubertp @jdunkerley @GregoryTravis @AdRiley
