# passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

## GraalVM toolchain
build --extra_toolchains=@graalvm//:bootstrap_runtime_toolchain

## GraalVM versions
common --tool_java_runtime_version=graalvm_21
common --tool_java_language_version=21

common --java_runtime_version=graalvm_21
common --java_language_version=21

## Rust
startup --windows_enable_symlinks
build --enable_runfiles

## other
# build --experimental_output_directory_naming_scheme=diff_against_dynamic_baseline
# build --incompatible_disallow_empty_glob
# build --verbose_failures
# build --worker_sandboxing
# build:linux --sandbox_add_mount_pair=/tmp
# build:macos --sandbox_add_mount_pair=/var/tmp
# build:windows --sandbox_add_mount_pair=C:\Temp

# test --sandbox_default_allow_network=false
# test --test_output=errors
