# FIXME: consider using RC files from guide: https://docs.aspect.build/guides/bazelrc/

## General rules
common --enable_platform_specific_config
common --incompatible_allow_tags_propagation
common --incompatible_use_plus_in_repo_names
test --test_output=errors
build --show_result=20
build --reuse_sandbox_directories
build --nolegacy_external_runfiles
build --incompatible_strict_action_env
build --noexperimental_check_output_files
fetch --noexperimental_check_output_files
query --noexperimental_check_output_files
build --nobuild_runfile_links
coverage --build_runfile_links

## Stamping for release builds
# Enable with --config=release
build:release --stamp --workspace_status_command="node $(pwd)/internal/workspaceStatus.mjs"

# Use processwrapper-sandbox strategy by default, to align behavior with CI.
# Note: this is the default strategy inside Docker containers (because of sandboxing restrictions)
# and on Ubuntu (because Ubuntu is stupid). See https://github.com/bazelbuild/bazel/issues/24081 for more details.
# Because we specify --spawn_strategy explicitly, we also need to override strategies for some actions.
# Also Windows does not support processwrapper-sandbox.
build:linux --spawn_strategy=processwrapper-sandbox
build:macos --spawn_strategy=processwrapper-sandbox
build --strategy=CopyFile=local
build --strategy=CopyToDirectory=local
build --strategy=CopyDirectory=local
build --strategy=NpmLifecycleHook=local

## JS

# passes an argument `--skipLibCheck` to *every* spawn of tsc
common --@aspect_rules_ts//ts:skipLibCheck=always
common --@aspect_rules_ts//ts:default_to_tsc_transpiler

# Allow the Bazel server to check directory sources for changes. Ensures that the Bazel server
# notices when a directory changes, if you have a directory listed in the srcs of some target.
# Recommended when using
# [copy_directory](https://github.com/aspect-build/bazel-lib/blob/main/docs/copy_directory.md) and
# [rules_js](https://github.com/aspect-build/rules_js) since npm package are source directories
# inputs to copy_directory actions.
# Docs: https://bazel.build/reference/command-line-reference#flag--host_jvm_args
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

## GraalVM versions
common --tool_java_runtime_version=graalvm_25
common --tool_java_language_version=25

common --java_runtime_version=graalvm_25
common --java_language_version=25

## Rust
build --enable_runfiles
build --compilation_mode=opt

## Allow local overrides of bazel configuration
try-import %workspace%/.bazelrc.local
