[submodule "toolchain/HaskellBooster"]
	path = toolchain/HaskellBooster
	url = https://github.com/wdanilo/HaskellBooster.git
[submodule "toolchain/scripts"]
	path = toolchain/scripts
	url = https://bitbucket.org/NewByteOrder/workflow.git
	branch = master
