
#############
## GraalVM ##
#############

graal_dumps

#########
## JVM ##
#########

graal_dumps/
target/
*.class
*.log
.java-version

##########
## Rust ##
##########

**/*.rs.bk
wasm-pack.log
generated/

#############
## Haskell ##
#############

dist
cabal-dev
.stack-work/

############
## NodeJS ##
############

node_modules/
package-lock.json

############
## System ##
############

.DS_Store

############
## Images ##
############

*.jpg
*.jpeg
*.bmp
*.psd

######################
## Tooling Specific ##
######################

.idea/
.vscode/
*.swp
.projections.json
.nvmrc
*.iml

############################
## Rendered Documentation ##
############################

javadoc/
scaladoc/

#######################
## Benchmark Reports ##
#######################

bench-report.xml

##############
## Binaries ##
##############

/enso
/project-manager
*.exe
/enso.exp
/enso.lib
*.pdb
*.jar
/built-distribution/


#########
## IDE ##
#########

.editorconfig
.bloop/
.bsp/
project/metals.sbt

#################
## Build Cache ##
#################

build-cache/

###################
## Enso-Specific ##
###################

distribution/std-lib/Standard/data/scratch_file

