
#############
## GraalVM ##
#############

graal_dumps

#########
## JVM ##
#########

graal_dumps/
target/
*.class
*.log

##########
## Rust ##
##########

Cargo.lock
**/*.rs.bk
wasm-pack.log
/lib/rust/lexer/generation/src/lexer-engine.rs

#############
## Haskell ##
#############

dist
cabal-dev
.stack-work/

############
## NodeJS ##
############

node_modules/
package-lock.json

############
## System ##
############

.DS_Store

############
## Images ##
############

*.jpg
*.jpeg
*.bmp
*.psd

######################
## Tooling Specific ##
######################

.idea/
.vscode/
*.swp
.projections.json
.nvmrc

############################
## Rendered Documentation ##
############################

javadoc/
scaladoc/

#######################
## Benchmark Reports ##
#######################

bench-report.xml

##############
## Binaries ##
##############

/enso
*.exe
/enso.exp
/enso.lib
*.pdb
*.jar


#########
## IDE ##
#########

.editorconfig
.bloop/
