# Build Artefacts
target/
.github/PULL_REQUEST_TEMPLATE.md
.github/ISSUE_TEMPLATE
distribution/launcher/THIRD-PARTY
distribution/engine/THIRD-PARTY
distribution/project-manager/THIRD-PARTY
tools/legal-review
distribution/std-lib/Base/THIRD-PARTY
distribution/std-lib/Table/THIRD-PARTY
built-distribution/
