dist

# Rust
/target
/build/rust/target/
**/*.rs.bk
pkg/
wasm-pack.log

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# A thirdparty downloaded js
/src/rust/ensogl/lib/msdf-sys/msdfgen_wasm.js

# JavaScript
node_modules
.nvmrc
