# Rust
/target
/build/rust/target/
**/*.rs.bk
pkg/
wasm-pack.log

# IntelliJ
.idea/
*.iml

# VisualStudio Code
.vscode/

# A thirdparty downloaded js
/lib/core/msdf-sys/msdfgen_wasm.js

# JavaScript
node_modules
