@import url('./font-enso.css');
@import url('./font-mplus1.css');
@import url('./font-dejavu.css');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60 60 60 / 0.29);
  --vt-c-divider-light-2: rgba(60 60 60 / 0.12);
  --vt-c-divider-dark-1: rgba(84 84 84 / 0.65);
  --vt-c-divider-dark-2: rgba(84 84 84 / 0.48);

  --vt-c-text-light-1: rgba(118 118 118);
  --vt-c-text-light-2: rgba(60 60 60 / 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235 235 235 / 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-text-light: rgba(255 255 255 / 0.7);
  --color-text-inversed: rgba(255 255 255);
  --color-app-bg: rgba(255 255 255 / 0.8);
  --color-menu-entry-hover-bg: rgba(0 0 0 / 0.1);
  --color-visualization-bg: rgb(255 242 242);
  --color-dim: rgba(0 0 0 / 0.25);
  --color-frame-bg: rgba(255 255 255 / 0.3);
  --color-widget: rgba(255 255 255 / 0.12);
  --color-widget-selected: rgba(255 255 255 / 0.58);
  --color-port-connected: rgba(255 255 255 / 0.15);
}

/* non-color variables */
:root {
  /* The z-index of fullscreen elements that should display over the entire GUI. */
  --z-fullscreen: 1;
  --blur-app-bg: blur(64px);
  --disabled-opacity: 40%;
  /* A `border-radius` higher than all possible element sizes.
   * A `border-radius` of 100% does not work because the element becomes an ellipse. */
  --radius-full: 9999px;
  --radius-default: 16px;
  --section-gap: 160px;
  --selected-node-border-width: 20px;
  --font-sans: 'M PLUS 1', /* System sans-serif font stack */ system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-code: 'Enso', /* System sans-serif font stack */ system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'DejaVu Sans Mono', /* System monspace font stack */ ui-monospace, Menlo, Monaco,
    'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.icon {
  width: 16px;
  height: 16px;
}

.button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.button.disabled {
  cursor: default;
}

/* Scrollbar style definitions for textual visualizations which need support for scrolling.
 *
 * The 11px width/height (depending on scrollbar orientation)
 * is set so that it resembles macOS default scrollbar.
 */

.scrollable {
  scrollbar-color: rgba(190 190 190 / 50%) transparent;
}

.scrollable::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.scrollable::-webkit-scrollbar:vertical {
  width: 11px;
}

.scrollable::-webkit-scrollbar:horizontal {
  height: 11px;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(220, 220, 220, 0.5);
  background-color: rgba(190, 190, 190, 0.5);
}

.scrollable::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.scrollable::-webkit-scrollbar-button {
  height: 8px;
  width: 8px;
}
