/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: rgba(118, 118, 118, 1);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-text-light: rgba(255, 255, 255, 0.7);

  --color-widget: rgba(255, 255, 255, 0.12);
  --color-widget-selected: rgba(255, 255, 255, 0.58);

  --color-port-connected: rgba(255, 255, 255, 0.15);

  --color-frame-bg: rgba(255, 255, 255, 0.3);

  --color-dim: rgba(0, 0, 0, 0.25);
}

/* non-color variables */
:root {
  --disabled-opacity: 40%;

  /* A `border-radius` higher than all possible element sizes.
   * A `border-radius` of 100% does not work because the element becomes an ellipse. */
  --radius-full: 9999px;

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  /* TEMPORARY. Will be replaced with actual background when it is integrated with the dashboard. */
  background: #e4d4be;
  color: var(--color-text);
  /* TEMPORARY. Will be replaced with actual background when it is integrated with the dashboard. */
  background: #e4d4be;
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 11.5px;
  font-weight: 500;
  line-height: 174.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 16px;
  height: 16px;
}

.button {
  cursor: pointer;
}

:focus {
  outline: none;
}

.hidden {
  display: none;
}

.button.disabled {
  cursor: default;
}
