@import './base.css';

body {
  display: flex;
  color: var(--color-text);
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-sans);
  font-size: 11.5px;
  font-weight: 500;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-weight: 500;
  cursor: default;
}
