.__histoire-render-story > [data-v-app] {
  height: 100%;
}

.viewport {
  height: 100%;
  width: 100%;
}

.image-button {
  cursor: pointer !important;
}

.VisualizationContainer {
  z-index: 0 !important;
  min-width: 0 !important;
}

.CodeEditor.CodeEditor {
  width: 100% !important;
  height: 100% !important;
}
