# Amplify library configuration.
NEXT_PUBLIC_AUTH_REGION=eu-west-1
NEXT_PUBLIC_AUTH_USER_POOL_ID=<eu-west-1_aBcDe00fg>
NEXT_PUBLIC_AUTH_USER_POOL_WEB_CLIENT_ID=<0abcde12fg1h23ijk45lmnopqr>
NEXT_PUBLIC_AUTH_DOMAIN=<TERRAFORM_WORKSPACE>-domain.auth.eu-west-1.amazoncognito.com
NEXT_PUBLIC_AUTH_REDIRECT_SIGN_IN=http://localhost:8081
NEXT_PUBLIC_AUTH_REDIRECT_SIGN_OUT=http://localhost:8081
NEXT_PUBLIC_MIXPANEL_TOKEN=<some token>
