## Enso Signatures 1.0
## module Standard.Test.Test_Result
- type Test_Result
    - is_fail self -> Standard.Base.Any.Any
    - is_pending self -> Standard.Base.Any.Any
    - is_success self -> Standard.Base.Any.Any
    - to_text self -> Standard.Base.Any.Any
