# Logs
logs
*.log
npm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test-results/
playwright-report/

src/util/iconList.json
src/util/iconName.ts
src/stores/visualization/metadata.json
public/font-dejavu/
public/font-enso/
public/font-mplus1/
src/assets/font-dejavu.css
src/assets/font-enso.css
src/assets/font-mplus1.css
