[package]
name = "ast-macros"
version = "0.1.0"
authors = ["Enso Team <contact@enso.org>"]
edition = "2021"

[lib]
proc-macro = true

[features]
default = []

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
Inflector = "0.11.4"
enso-prelude = { path = "../../../../../lib/rust/prelude" }
enso-macro-utils = { path = "../../../../../lib/rust/macro-utils" }

[dependencies.syn]
version = "1.0"
features = [
  'extra-traits',
  'full'
  # for syn::File and syn::ItemFn
]
