[package]
name    = "parser"
version = "0.1.0"
authors = ["Enso Team <contact@luna-lang.org>"]
edition = "2018"
build   = "build.rs"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
ast                      = { version = "0.1.0", path = "../ast/core"  }
console_error_panic_hook = "0.1.6"
failure                  = "0.1"
js-sys                   = "0.3"
matches                  = "0.1"
prelude                  = { version = "0.1.0", path = "../prelude"   }
serde                    = { version = "1.0"  , features = ["derive"] }
serde_json               = "1.0"
shrinkwraprs             = "0.2.1"
wasm-bindgen             = "0.2"
wasm-bindgen-test        = "0.2"


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
websocket = "0.23.0"
